.profile {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  background-color: #95f0f5;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.avatar {
  width: 250px;
  height: 250px;
  padding-bottom: 10px;
}
.name {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
}

.tag {
  font-size: 20px;
  color: #4f4e4e;
  padding: 10px 0;
  font-weight: bold;
}
.location {
  font-size: 20px;
  color: #9208ee;
}

.stats {
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.stats li {
  text-align: center;
}

.label {
  display: block;
  font-size: 20px;
  color: #777;
}

.quantity {
  font-weight: bold;
  color: black;
}
